<div class="site-blocks-cover inner-page-cover mb-0">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8 offset-lg-2 text-left">
        <h1 class="">About</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-between">
    <div class="col-lg-8 offset-lg-2 pb-5">
      <p>
        <strong class="font-weight-bold font-weight-bold">Matt:</strong>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde labore
        fugit earum beatae, qui autem asperiores harum quibusdam nulla in
        suscipit iure consequatur, laborum, inventore libero odit rem, dolore.
        Itaque?
      </p>
      <p>
        <strong class="font-weight-bold font-weight-bold">John:</strong>
        Ea ipsum, libero exercitationem, quisquam magnam blanditiis facere
        sapiente sequi esse totam quaerat obcaecati ab ratione ex dignissimos
        quae ullam dolore veniam minima! Et accusamus distinctio ipsa. Hic,
        repellat blanditiis!
      </p>
    </div>
  </div>
</div>
